h1{
    text-align: center;
}

h2{
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

section {
    margin-bottom: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

button {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.5rem;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
    background-color: #444;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

label {
    flex-basis: 100%;
    margin-bottom: 0.5rem;
}

input,
textarea,
select {
    flex-basis: 100%;
    margin-bottom: 0.5rem;
}

#filtrar-tareas,
#ver-tareas-agrupadas {
    display: none;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    #crear-tarea,
    #listar-tareas,
    #filtrar-tareas,
    #ver-tareas-agrupadas {
        width: 100%;
    }

    #filtrar-tareas,
    #ver-tareas-agrupadas {
        display: block;
    }
}